<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right;" (click)="clickOnAddEmployee()">Add</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeData">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.mobile}}</td>
        <td>{{employee.salary}}</td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(employee)">Edit</button><button class="btn btn-danger" (click)="deteleEmployee(employee)">Delete</button></td>
      </tr>
    </tbody>
  </table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form [formGroup]="formValue"> 
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">First Name</label>
              <input type="text" name="firstName" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" name="lastName" formControlName="lastName" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email</label>
                <input type="text" name="lastName" formControlName="email" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1"  class="form-label">Mobile Number</label>
                <input type="text" name="lastName" formControlName="mobile" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Salary</label>
                <input type="text" name="lastName" formControlName="salary" class="form-control" id="exampleInputPassword1">
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel"  data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="postEmployeeDetails()">Add</button>
        <button type="button" class="btn btn-primary" *ngIf="showEdit" (click)="updataEmployeeDetails()">Update</button>
      </div>
    </div>
  </div>
</div>
